.react-calendar button {
  @apply btn btn-ghost;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  @apply btn-disabled;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

button.react-calendar__month-view__days__day--weekend {
  @apply text-accent;
}

button.react-calendar__tile--active.react-calendar__month-view__days__day--weekend {
  @apply text-secondary-content;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  @apply opacity-30;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

button.react-calendar__tile {
  @apply min-h-14 px-4 py-2;
}

button.react-calendar__tile:disabled {
  @apply btn-disabled;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

button.react-calendar__tile--now {
  @apply bg-accent text-accent-content;
}

button.react-calendar__tile--now.react-calendar__month-view__days__day--weekend {
  @apply text-accent-content;
}

button.react-calendar__tile--hasActive {
  background: #76baff;
}

button.react-calendar__tile--hasActive:enabled:hover,
button.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

button.react-calendar__tile--active {
  @apply bg-secondary text-secondary-content;
}
