http:
  routers:
    __CONTAINER__:
      rule: "Host(`__HOST__`)"
      entryPoints:
        - websecure
      service: __CONTAINER__
      tls:
        certResolver: letsencrypt
  services:
    __CONTAINER__:
      loadBalancer:
        servers:
          - url: "http://__CONTAINER__:3000"
